/*need to fix flex wraps*/

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
padding: 0;
text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

html {
  background-color: #FFF;
  scroll-behavior: smooth;
}

/* Section 1 NAVBAR */

.navbar {
  display: flex;
  color: #F9FAF8;
  background-color: #6e458e;
  align-items: center;
}

.header-logo img {
  display: flex;
  height: 36px;
  margin-left: 24px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1 1 200px;
}

.header-links {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
}

.header-links > a {
  display: flex;
  align-items: center;
  color: #E5E7EB;
  font-size: 18px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.header-links a:hover {
  background-color: #9f89b2;
  cursor: pointer;
}

/* Section 1 HERO*/
.hero-bg {
  background-image: linear-gradient(
    60deg,
    rgba(70, 48, 88, 0.85),
    rgba(129, 94, 119, 0.5)
  ),
  url(https://www.xmple.com/wallpaper/white-polka-dots-purple-spots-1920x1080-c2-ffffff-9370db-l2-89-240-a-150-f-3.svg);
background-position: center;
background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 128px 72px 72px;
  gap: 24px;
  padding: 80px;
  border: 8px solid #6e458e;
  border-radius: 200px;
  box-shadow: 2px 2px 20px 2px;
  background: #463058;
}

.hero-text {
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

.hero-text h1 {
  font-size: 49px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.hero-text p {
  color: #E5E7EB;
  font-size: 18px;
  margin-top: -10px;
}

.hero-text button {
  display: block;
  background-color: #6e458e;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  padding: 8px;
  width: 120px;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid #fff;
  box-shadow: 1px 1px 2px black;
}

.hero-text button:hover {
  cursor: pointer;
  background-color: #9f89b2;
  box-shadow: 3px 3px #240507;
}

.hero-image {
  display: flex;
  width: 50%;
  height: 400px;
  object-fit: cover;
  margin-left: 50px;
  padding-top: 15px;
}

.hero-image img {
  display: flex;
  object-fit: cover;
  max-width: 500px;
  border: 12px solid #FFF;
  border-radius: 50%;
  box-shadow: 3px 3px 4px;
}

/*Section 2 CONTENT*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #463058;
}

.content h1 {
  display: block;
  font-size: 48px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 2px 2px black;
}

.content-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
}

.content-images img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 4px solid #815E77;
  margin: 5px 20px 0px 20px;
  object-fit: cover;
}

.content-images p {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  font-size: 18px;
  color: #FFF;
}

/*Section 3 QUOTE*/
.quote {
  flex: 0 0 0;
  display: flex;
  flex-direction: column;
  background-color: #6e458e;
  padding: 0 400px;
  text-align: left;
  align-items: center;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  color: #FFF;
  font-weight: lighter;
  margin-bottom: 10px;
}

.quote b {
  text-align: left;
  padding-bottom: 60px;
  padding-right: 20px;
  color: #FFF;
}

/*Section 4 BOX SIGN UP*/
.sign-up-bg {
  background-color: #463058;
}


.box-sign-up {
  display: flex;
  background-color: #6e458e;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 40px 80px;
  margin: 100px 50px;
  border: 8px solid #FFF;
  border-radius: 24px;
  box-shadow: 2px 2px 3px black;
}

.sign-up-text {
  flex: 1;
  text-align: left;
}

.sign-up-text h1 {
  font-size: 18px;
  color: #f9FaF8;
}

.sign-up-text p {
  color: #f9FaF8;
  margin-top: -10px;
  opacity: 0.7;
}

.sign-button button {
  flex-shrink: 0;
  color: #F9FAF8;
  border-radius: 8px;
  border: 2px solid #fff;
  box-shadow: 1px 1px 2px black;
  background-color: #6e458e;
  padding: 5px 25px;
  font-size: 15px;
  font-weight: 600;
  margin: 24px auto;
}

.sign-button button:hover {
  cursor: pointer;
  background-color: #9f89b2;
  box-shadow: 3px 3px #240507;
}

/*Footer*/
.footer {
  background-color: #b9acc4;
}

footer p {
  padding: 24px;
  text-align: center;
  color: black;
}


